prop-inherit1 : inherit;
prop-inherit2 : Inherit ! important;
prop-string : 'string' "string";
prop-uri1 : url( 	"uri"	 );
prop-uri2 : url( 	http://example.com/	 );
prop-unicode : U+A5, U+0-7F, U+590-5ff, U+4E00-9FFF, U+30??;
prop-int : 149 -148;
prop-real : 3.14 -2.71;
prop-percentage : 149% -148%;
prop-freq : 50.1hz 5.1khz -10.1hz -.1khz;
prop-time : 25.1S 50.2MS -.1s -10.1ms;
prop-angle : 90.0DEG 1.57RAD 100.0GRAD -90.0DEG -1.57RAD -100.0GRAD;
prop-em : 1.1EM;
prop-ex : 1.2EX;
prop-px : 1.3PX;
prop-cm : 1.4CM;
prop-mm : 1.5MM;
prop-in : 1.6IN;
prop-pt : 1.7PT;
prop-pc : 1.8PC;
prop-func : foo('arg') bar('arg1', 2);
prop-color : #ab #aBc #abcde #aBCdef;
prop-res : 300.5dpi 300.5dpcm -300.5dpi -300.5dpcm;
prop-attr : attr(length, em, 10);
