valid1 : foo;
invalid : *;
valid2 : bar;
valid3 : red !important fail;
valid4 : green;
valid5 : center; !important;
valid6 : foo;
color{;color:maroon};
valid7 : foo;
valid8 : bar{;color:maroon};
valid9 : foo;
valid10 : bar{;color:maroon}*;
valid11 : bar*;
valid12 : foo;
